<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>GoogleOAth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.788392598546-6i303g4r1o6mrf8egoak1889e4cbft9t</string>
			</array>
		</dict>
	</array>
	<key>COHERE_API_KEY</key>
	<string>PUT_UR_COHERE_API_KEY_IN_MY_XCODUE_PROJECTUE</string>
	<key>GADApplicationIdentifier</key>
	<string>admob key optional</string>
	<key>GEMINI_API_KEY</key>
	<string>PUT_UR_GEMINI_API_KEY_IN_MY_XCODUE_PROJECTUE</string>
	<key>GIDClientID</key>
	<string>788392598546-6i303g4r1o6mrf8egoak1889e4cbft9t.apps.googleusercontent.com</string>
	<key>MISTRAL_API_KEY</key>
	<string>PUT_UR_MISTRAL_API_KEY_IN_MY_XCODUE_PROJECTUE</string>
</dict>
</plist>
