<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string></string>
	<key>OPENROUTER_API_KEY</key>
	<string>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</string>
	<key>COHERE_API_KEY</key>
	<string>Onj9lmoyc2NhRqS9nLeNDFGoDF7dfatJ0GnMN4Ln</string>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyAZJSajRAUUtFPqyiss_4wzhBMFNeQQ17A</string>
</dict>
</plist>
