<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string></string>
	<key>OPENROUTER_API_KEY</key>
	<string>PUT_UR_OPENROUTER_API_KEY_IN_MY_XCODUE_PROJECTUE</string>
	<key>COHERE_API_KEY</key>
	<string>PUT_UR_COHERE_API_KEY_IN_MY_XCODUE_PROJECTUE</string>
	<key>GEMINI_API_KEY</key>
	<string>PUT_UR_GEMINI_API_KEY_IN_MY_XCODUE_PROJECTUE</string>
</dict>
</plist>
